html, body {
  margin: 0;
  padding: 0;
  color: black; }

a:link, a:visited {
  color: #3333aa;
  text-decoration: none; }
a:hover {
  color: #3333aa;
  text-decoration: underline; }

#content {
  padding-top: 45px;
  margin: auto;
  width: 45em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px; }
  #content p {
    margin-bottom: 20px;
    line-height: 31px;
    text-align: justify; }
    #content p code {
      font-family: "Dejavu Sans Mono", "Consolas", "Menlo", "Monaco", monospace;
      font-size: 18px; }
  #content pre {
    margin-bottom: 20px;
    border-left: 1px #bbb solid;
    padding-left: 30px; }
    #content pre code {
      font-family: "Dejavu Sans Mono", "Consolas", "Menlo", "Monaco", monospace;
      font-size: 18px;
      padding-bottom: 4px; }
  #content h1, #content h2 {
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    font-weight: 700; }
  #content h1 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 34px; }
    #content h1 a:link, #content h1 a:visited {
      color: black;
      text-decoration: none; }
    #content h1 a:hover {
      color: black;
      text-decoration: underline; }
    #content h1 small {
      display: block;
      font-weight: 400;
      font-size: 18.9px;
      color: #666666;
      font-style: italic; }
  #content h2 {
    margin-bottom: 15px;
    margin-top: 28px;
    font-size: 26px; }
  #content ul, #content ol {
    margin-bottom: 20px; }
    #content ul li, #content ol li {
      margin-bottom: 10px;
      line-height: 31px; }
  #content img {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
    width: 80%; }
  #content blockquote {
    border-left: 1px #777 solid;
    margin-left: 5px;
    padding-left: 15px; }
    #content blockquote p {
      color: #666;
      font-style: italic; }

.post-div {
  margin-bottom: 45px; }
  .post-div strong a:link, .post-div strong a:visited {
    color: black;
    text-decoration: none; }
  .post-div strong a:hover {
    color: black;
    text-decoration: underline; }
  .post-div .date {
    font-size: 18.9px;
    color: #333333; }

#bio p {
  text-align: left; }

#footnotes p {
  font-size: 16.8px; }

#footer {
  font-style: italic;
  font-size: 18.9px; }
