$body-font: 'Arial', 'Liberation Sans', 'DejaVu Sans', sans-serif;
$header-font: $body-font;
$code-font: 'Consolas', 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;

$h1-font-size: 26px;
$h2-font-size: 23px;
$body-font-size: 18px;
$code-size: 16px;

$p-margin-bottom: 1.8em;
$content-width: 33em;

$body-color: #333;
$header-color: #333;
$p-link-color: default;
$link-hover-color: maroon;

html, body {
  margin: 0;
  padding: 0;
}

a {
  &:link, &:visited {
    text-decoration: underline;
  }
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

#content {
  padding-top: 80px;
  margin: auto;
  width: $content-width;

  font-family: $body-font;
  font-size: $body-font-size;

  p {
    margin-bottom: $p-margin-bottom;
    line-height: 1.5;

    code {
      font-family: $code-font;
      font-size: $code-size;
    }
    a {
      &:link, &:visited {
        color: $p-link-color;
        text-decoration: underline;
      }
      &:hover {
        color: $link-hover-color;
        text-decoration: underline;
      }
    }
  }

  pre {
    margin-bottom: $p-margin-bottom;
    border-left: 1px #bbb solid;
    padding-left: 30px;

    code {
      font-family: $code-font;
      font-size: $code-size;
      padding-bottom: 4px;
    }
  }

  h1, h2 {
    font-family: $header-font;
    color: $header-color;
    font-weight: 700;
  }

  h1 {
    text-align: left;
    margin-bottom: 20px;
    font-size: $h1-font-size;

    a:link, a:visited {
      color: $header-color;
      text-decoration: none;
    }

    a:hover {
      color: $header-color;
      text-decoration: underline;
    }

    small {
      display: block;
      font-weight: 400;
      font-style: italic;
      font-size: $body-font-size - 2px;
    }
  }

  h2 {
    margin-bottom: 15px;
    margin-top: 1.4*$p-margin-bottom;
    font-size: $h2-font-size;
  }

  ul, ol {
    margin-bottom: $p-margin-bottom;
    width: $content-width;

    li {
      margin-bottom: 10px;
    }
  }

  img {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  blockquote {
    p {
      color: #999;
      font-style: italic;
    }

    border-left: 1px #777 solid;
    margin-left: 5px;
    padding-left: 15px;
  }
}

.post-div {
  margin-bottom: 0.6em;
}

#bio p {
  text-align: left;
}

#footnotes p {
  font-size: $body-font-size * 0.8;
}
