$body-font-size: 18px;
$body-font-family: helvetica, arial, sans-serif;
$code-font-family: 'Dejavu Sans Mono', 'Consolas', 'Menlo', 'Monaco', monospace;

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
}

code {
  font-family: $code-font-family;
  font-size: $body-font-size * 0.85;
}

#content {
  max-width: 700px;
  margin: 0 auto;
}

pre {
  margin-top: 40px;
  margin-bottom: 40px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #888;
  width: 50%;
  margin-left: 25%;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

blockquote {
  font-style: italic;
}

#footnotes {
  font-size: $body-font-size * 0.8;
}

.post-div {
  margin-bottom: 10px;
}
