body {
  font-family: "Source Sans Pro", serif;
  font-size: 22px;
  font-weight: 400; }

a:hover {
  color: maroon; }

h1, h2, h3 {
  font-weight: 400; }
  h1 a, h2 a, h3 a {
    color: #333333;
    text-decoration: none; }
    h1 a:visited, h2 a:visited, h3 a:visited {
      color: #333333; }
    h1 a:hover, h2 a:hover, h3 a:hover {
      text-decoration: underline;
      color: #333333; }

.post-preview {
  color: #777;
  font-style: italic;
  font-size: 17.6px; }

span.date {
  font-size: 17.6px;
  font-style: italic; }

div.date {
  margin-top: 20px;
  font-weight: 300;
  color: #666;
  font-family: "Source Sans Pro", serif;
  font-size: 19.8px;
  font-style: italic; }

#content {
  width: 27em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px; }
  #content h1, #content h2, #content h3 {
    font-family: "Source Sans Pro", serif; }
  #content h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px; }
    #content h1 small {
      margin-top: 8px;
      font-weight: 300;
      color: #888;
      font-size: 26px;
      display: block;
      font-family: "Source Sans Pro", serif; }
    #content h1 .name a {
      font-size: 30px;
      font-weight: 300;
      color: #800; }
  #content h2 {
    font-size: 35px;
    font-weight: 400;
    margin-top: 70px;
    margin-bottom: 10px; }
  #content p {
    font-family: "Source Sans Pro", serif;
    font-size: 22px;
    margin-bottom: 40px;
    line-height: 1.5em; }
    #content p code {
      font-family: "Monaco", monospace;
      font-size: 14px;
      background: #f0f0f0;
      padding: 3px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      vertical-align: middle; }
  #content #footnotes p {
    font-size: 17.6px; }
  #content pre {
    font-size: 14px;
    margin-bottom: 40px;
    margin-left: 20px;
    width: 35.1em;
    padding: 0px; }
    #content pre code {
      font-family: "Monaco", monospace; }
  #content li {
    margin-bottom: 10px;
    line-height: 150%; }
  #content blockquote {
    margin-left: 20px;
    font-style: italic;
    color: #777; }

#footer {
  margin-bottom: 30px; }
  #footer p {
    margin-bottom: 0px;
    font-weight: 300px; }

#info {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 10px; }
  #info a {
    font-family: "Source Sans Pro", serif;
    font-weight: 300;
    font-size: 22px;
    text-decoration: none; }

.post-div {
  margin-bottom: 20px;
  font-size: 22px; }
