<div id="bio">
  <h2>alec benzer</h2>
  <hr />
  <p>Hi, I'm Alec. I study <a href="http://cs.uiuc.edu">cs</a> and <a href="http://math.illinois.edu">math</a> at <a href="http://illinois.edu">uiuc</a> and intern at <a href="http://www.google.com/about/jobs/locations/new-york/">google nyc</a>.</p>
  <p>
    <a href="http://twitter.com/alecbenzer">@alecbenzer</a><br />
    <a href="mailto:alecb@google.com">alecb@google.com</a>
    <a href="mailto:alecbenzer@gmail.com">alecbenzer@gmail.com</a><br />
  </p>
</div>
