<!--<div id="bio">
  <h3>Hi, I'm Alec</h3>
  <hr />
  <p>I'm a <a href="http://cs.uiuc.edu">computer science</a> student minoring in
  <a href="http://math.illinois.edu">math</a> at the <a
    href="http://illinois.edu">University of Illinois at Urbana-Champaign</a> and a (former) site reliability engineering intern at <a href="http://www.google.com/about/">Google</a>.</p>
  <p>
    <a href="http://twitter.com/alecbenzer">@alecbenzer</a><br />
    <a href="mailto:alecbenzer@gmail.com">alecbenzer@gmail.com</a><br />
  </p>
</div>-->
<p id="info">
<a href="/">home</a><br />
<a href="/about">about</a><br />
<a href="http://quotes.alecbenzer.com">quotes</a> <br />
<a href="http://twitter.com/alecbenzer">@alecbenzer</a>
</p>
