<head>
  <meta charset="utf-8" />
  {% if page.title %}
  <title>{{ page.title | strip_html }}</title>
  {% else %}
  <title>Alec Benzer</title>
  {% endif %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400' rel='stylesheet' type='text/css' />
  <link href="/css/reset.css" rel="stylesheet" media="screen" type="text/css" />
  <link href="/css/style.css" rel="stylesheet" media="screen" type="text/css" />
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

   <!-- 1. Moot style -->
   <link rel="stylesheet" type="text/css"
      href="//cdn.moot.it/1/moot.css" />
 
   <!-- 2. jQuery library (v1.7+ required) -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
 
   <!-- 3. Moot application -->
   <script src="//cdn.moot.it/1/moot.min.js"></script>
</head>
