<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div id="page">
      <div id="content">
        {% if page.title %}
        <h1 id="page-title">
          <a href="{{page.url}}">{{ page.title }}</a>
          <small><a href="/">Alec Benzer</a> &nbsp;&middot;&nbsp; {{ page.date | date: "%B %-d, %Y" }}</small>
          <hr />
        </h1>
        {% endif %}
        {{ content }}

        <hr />
        <a href="/">Alec Benzer</a><br />
        Follow <a href="http://twitter.com/alecbenzer">@alecbenzer</a> on twitter
        <br /><br />
      </div>
    </div>
  </body>
</html>
