<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div id="container">
      <div id="content">
        <div>
          <h1 id="title">
            <div class="name"><a href="/">Alec Benzer</a></div>
          </h1>
        </div>
        <hr />
        <h1 id="post-title">
          <a href="{{page.url}}">{{ page.title }}</a>
          <small>posted on {{ page.date | date:"%B %-d, %Y" }}</small>
        </h1>
        {{ content }}
        <br />
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="alecbenzer" data-count="none">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        &nbsp;
        <!-- Place this tag where you want the +1 button to render. -->
        <div class="g-plusone" data-size="medium" data-annotation="none"></div>

        <!-- Place this tag after the last +1 button tag. -->
        <script type="text/javascript">
          (function() {
           var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
           po.src = 'https://apis.google.com/js/plusone.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
           })();
         </script>

      {% include footer.html %}
      {% include bio.html %}
    </div>
  </body>
</html>
